// 
// 
// 
// 
// 



// SCSS STYLES

// Variables
$red: #bf3130;
$green: #689b00;
$blue: #1440ab;

// Mixins


// IMPLEMENTATION
body {
  background-color: desaturate($blue, 80%); // function desaturate
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 4em;
  text-align: center;
}

p {
  background: $green;
}
