//- Index template
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends ../_layouts/leftNavContent

//- Include Mixins


//- Start template
//--------------------------------------------------------------------

//- Page title
block pagetitle
  title cheatsheet | #{siteName}

//- Add header template
include ../_partials/_header/header-default

//- 
block sidenav
  p side nav

//- Page Content
block content
  h2 Template Cheatsheet

//- Add footer template
include ../_partials/_footer/footer-default  
