//- Index template
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends ../_layouts/default

//- Include Mixins


//- Start template
//--------------------------------------------------------------------

//- Page title
block pagetitle
  title cheatsheet | #{siteName}

block header
  include ../_partials/_header/header-default

//- 
block sidebar
  p side nav

//- Page Content
block content
  h2 Template Cheatsheet

block footer
  include ../_partials/_footer/footer-default
