//- Article post minxins
//- 

//- Add dependencies
//--------------------------------------------------------------------


//- Load variables
//--------------------------------------------------------------------
//- - var x = ""


//- Functions
//--------------------------------------------------------------------



//- Start mixins
//--------------------------------------------------------------------

//- Article mixin
mixin article(title,author,category,tags)
	.article

//- Article preview
mixin article-preview(title,author,category,tags)
	.article-preview
