// 
// 

body {
  // background-color: lighten($black, 90%);
  background: url('../img/mountian-sunrise.jpg') no-repeat center fixed;
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
}
