// 
// 

$primary-color: #225378;
$secondary-color: #f3ffe2;
$tertiary-color: #eb7f00;

$black: #000;
$whites: #fff;
$faint-grey: lighten($black, 90%);
$light-grey: lighten($black, 50%);
$mid-grey: lighten($black, 20%);
$dark-grey: lighten($black, 5%);

$red: #bf3130;
$green: #689b00;
$blue: #1440ab;
$yellow: #ff0;
