//- Headlin mixins
//- 

//- Add dependencies
//--------------------------------------------------------------------


//- Load variables
//--------------------------------------------------------------------
//- - var x = ""


//- Functions
//--------------------------------------------------------------------



//- Start mixins
//--------------------------------------------------------------------

mixin headline(title,body)
  .hedaline 
    h2.headline__title=title
    p.headline__body=body
