//- Carousel minxins
//- 

//- Add dependencies
//--------------------------------------------------------------------


//- Start mixins
//--------------------------------------------------------------------

//- Default carousel mixin
mixin carousel()
  .owl-carousel.owl-theme
    div.owl-item
      div.owl-item__overlay
        h2 Title text
        p Slider text odio perferendis veritatis doloremque maxime
        a(href='#').button.round Go to...
      img(src='img/meeting-room.jpg' alt='Image')
    div.owl-item
      img(src='img/forest-sunset.jpeg' alt='Image')
    div.owl-item
      img(src='img/notebook-table.jpeg' alt='Image')
    div.owl-item
      img(src='img/stary-night.jpg' alt='Image')
    div.owl-item
      img(src='img/subway-platform.jpeg' alt='Image')
    div.owl-item
      img(src='img/country-field-filter.jpg' alt='Image')

//- Default carousel mixin
//- mixin carousel()

//- Default carousel mixin
//- mixin carousel()

//- Default carousel mixin
//- mixin carousel()