extends base

//- Page Body
block body
  
  //- Add header template
  include ../_partials/header

  .row
    .medium-8.large-8.columns

      //- 
      block content
      
    .medium-4.large-4.columns

      //-
      block sidebar


  //- Add footer template
  include ../_partials/footer
