//- Index template
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends base

//- Include Mixins


//- Start template
//--------------------------------------------------------------------

//- Page title
block pagetitle
  title cheatsheet | #{siteName}

//- Page Body
block body
  
  //- Add header template
  include ../_partials/_header/header-default

  .row
    .medium-3.large-3.columns
      //- 
      block sidenav
        p Sidenav text

    .medium-9.large-9.columns
      //-
      block content
        p Content text

  //- Add footer template
  include ../_partials/_footer/footer-default
