//- Index template
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends _layouts/default

//- Include Mixins
include _mixins/post-types
include _mixins/media-types

//- Start template
//--------------------------------------------------------------------

//- Page Content
block content
  
  

//- Page Content
block sidebar
  