//- Index template
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends _partials/layouts/default

//- Include Mixins
include _partials/mixins/content/blog-posts
include _partials/mixins/lists/social-media
include _partials/mixins/lists/recent-articles

//- Start template
//--------------------------------------------------------------------

//- Page title
block pagetitle
  title #{siteName}

//- Page Content
block header
  include _partials/components/headers/header-default

//- Page Content
block content
  +blog-post('Foo','John Doe')
  +blog-post('Foo','John Doe')

//- Page Content
block sidebar
  +social-list
  +social-list-icons
  +recent-articles-images

//- Page Content
block footer
  include _partials/components/footers/footer-default
