extends _layouts/default

//- Page Content
block content
  h2 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.

  h2 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.

  h2 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.

  h2 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.

//- Page Content
block sidebar
  h3 Lorem ipsum dolor sit amet
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.

    h3 Lorem ipsum dolor sit amet
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo. Autem ea consequatur tempora deleniti reiciendis totam veritatis aspernatur quas laboriosam soluta quos minima, aliquam magni minus, non eos quibusdam placeat quo.
