extends base

block styles
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
block header

  h1 Header title

block content

  h1 Some Content
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos officia atque, quasi? Explicabo in quaerat dignissimos animi quia, dicta quidem, modi soluta voluptatum eius aut necessitatibus harum quasi sapiente.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt dignissimos officia atque, quasi? Explicabo in quaerat dignissimos animi quia, dicta quidem, modi soluta voluptatum eius aut necessitatibus harum quasi sapiente.

block sidebar

  h3 Sidebar header

  p Sidebar text
  p Sidebar text
  
block footer

  p footer text


block scripts
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")