//- Protfolio Home
//- 

//- Add dependencies
//--------------------------------------------------------------------
//- Load base template
extends ../_partials/layouts/base

//- Include Mixins


//- Start template
//--------------------------------------------------------------------

//- Page title
block pagetitle
  title #{siteName}

block body
  include ../_partials/components/headers/header-default

	.row
		



  include ../_partials/components/footers/footer-default
