// 
// 
// 
// 
// 

// @import 'bootstrap';
@import '../../bower_components/foundation/scss/normalize';
@import '../../bower_components/foundation/scss/foundation';
// @import 'font-awesome';

// SCSS STYLES

// Variables
$black: #000;
$faint-grey: lighten($black, 90%);
$light-grey: lighten($black, 50%);
$mid-grey: lighten($black, 20%);
$dark-grey: lighten($black, 5%);

$red: #bf3130;
$green: #689b00;
$blue: #1440ab;
$yellow: #ff0;
$white: #fff;

// Mixins


// IMPLEMENTATION
body {
  background-color: lighten($black, 90%);
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  background-color: lighten($black, 80%);
}

.column {
  background-color: lighten($black, 70%);
}

.container {
  padding: 4em;
  text-align: center;
}

footer {
  background: $dark-grey;
  color: $white;

  .row {
    background: $dark-grey;
  }
}
