// 
// 
// 
// 
// 

// Load Foundation
@import 'settings';
@import '../../bower_components/foundation/scss/normalize';
@import '../../bower_components/foundation/scss/foundation';

// @import 'font-awesome';

// Load base files
@import 'base/variables';
@import 'base/colors';
@import 'base/base';


// SCSS STYLES

// Variables


// $test: #fc0;

// Mixins


// IMPLEMENTATION


.row {
  background-color: lighten($black, 80%);
}

.column {
  background-color: lighten($black, 70%);
}

.container {
  padding: 4em;
  text-align: center;
}

footer {
  background: $mid-grey;

  .row {
    background: $mid-grey;
    color: $faint-grey;
  }
}
