//- Header default template
//- 

//- Add dependencies
//--------------------------------------------------------------------
include ../../_mixins/carousels

//- Start template
//--------------------------------------------------------------------
include ../_navigation/nav-default
.row
  //- +carousel('Some Title','odio perferendis veritatis doloremque maxime, eum officia pariatur blanditiis reprehenderit quisquam dolorem qui ducimus nam.', 'Im a button', 5)
  .jumbotron
    
    h2.jumbotron__title Hero title
    p.jumbotron__text  Hero text odio perferendis veritatis doloremque maxime, eum officia pariatur blanditiis reprehenderit quisquam dolorem qui ducimus nam.
    a(href='#').jumbotron__button.button.round Go to...

.row
  

