//- Header image-nav template
//- 

//- Load variables
//--------------------------------------------------------------------


//- Add dependencies
//--------------------------------------------------------------------

//- Include Mixins


//- Start template
//--------------------------------------------------------------------

.row
  .small-12.medium-12.large-12
    img(src="http://placehold.it/1024x400/dddddd/000000")

  include ../_navigation/nav-transparent