//- Recent articels minxins
//- 

//- Add dependencies
//--------------------------------------------------------------------


//- Load variables
//--------------------------------------------------------------------
//- - var x = ""


//- Functions
//--------------------------------------------------------------------



//- Start mixins
//--------------------------------------------------------------------

mixin recent-articles()
	div.widget
		h3.widget__title Recent Articles
		ul
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
			li.recent-item
				a(href="#") Lorem ipsum dolor sit amet
					


mixin recent-articles-images()
	div.widget
		h3.widget__title Recent Articles
		ul
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015
			li.recent-item
				img(src="http://placehold.it/50x50/dddddd/000000", alt="")
				a(href="#") Lorem ipsum dolor sit amet
				p 31/11/2015

