//- Socal media list minxins
//- 

//- Add dependencies
//--------------------------------------------------------------------


//- Load variables
//--------------------------------------------------------------------
//- - var x = ""


//- Functions
//--------------------------------------------------------------------



//- Start mixins
//--------------------------------------------------------------------

mixin social-list()
	div.widget
		h3.widget__title Get Social
		ul
			li.social-list.twitter twitter
			li.social-list.facebok Facebok
			li.social-list.googleplus Google+
			li.social-list.pinterest Pinterest
			li.social-list.linedin Linedin
			li.social-list.youtube Youtube
			li.social-list.vimeo Vimeo
			li.social-list.flickr Flickr
			li.social-list.instagram Instagram
			li.social-list.rss RSS


mixin social-list-icons()
	div.widget
		h3.widget__title Get Social
		ul
			li.social-list.logo.twitter twitter
			li.social-list.logo.facebok Facebok
			li.social-list.logo.googleplus Google+
			li.social-list.logo.pinterest Pinterest
			li.social-list.logo.linedin Linedin
			li.social-list.logo.youtube Youtube
			li.social-list.logo.vimeo Vimeo
			li.social-list.logo.flickr Flickr
			li.social-list.logo.instagram Instagram
			li.social-list.logo.rss RSS
